@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Prompt:wght@600&display=swap'); 

body{
  background-color: #fbfbfb; /* #1e2247 */
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
#background {
    height: 725px;
    background-color: #1e2247;
}
h2 {
    margin: 0;
}
h4 {
    font-family: 'Prompt', sans-serif;
    color: #ec7c32;
}
header{
    background-color: #1e2247;
    display: grid;
    grid-template-columns: 150px auto;
}
footer{
    background-color: #1e2247;
    color: #fff;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: yellow;  
    text-decoration: none;
}
footer a:hover {
    color: #ec7c32;    
}
section h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}
footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: #fff;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
a{
    color: blanchedalmond;
    font-family: 'Montserrat', sans-serif;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: #fbfbfb;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #cd5a0d;
    color: #b6fe00;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
    background-color: rgba(0,0,0,.2);
}
#hero-img {
    width: 100%;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
} 
#hero-msg {
    margin-top: 100px;
    margin-bottom: 60px;
    grid-column: 2/3;
    grid-row: 1/2;

}
#hero-msg h1 {
    font-size: 3em;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
    font-family: 'Prompt', sans-serif;
    color: #fff;
}
.button-box{
    text-align: center;
}
/* Added to rivers.html */
#river {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /*margin-top: -100px;*/
    background-color: rgba(0,0,0,.2);
}
#river-img {
    width: 100%;
}
#river-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
} 
#river-msg {
    margin-top: 0px;
    margin-bottom: 0px;
    grid-column: 2/3;
    grid-row: 1/2;

}
#river-msg h1 {
    font-size: 3em;
}
#river-msg h1, #river-msg h4{
    
    font-family: 'Prompt', sans-serif;
    color: rgb(255, 255, 255);
}

.river-section {
    grid-column: 2/6;
    margin-top: 40px;
}
.river-section h2, p{
    color: #000000;
    font-size: 0.8em;
    text-align: justify;    
}
.river-section a, .river-section2 a{   
    text-align: right;
    border: solid 2px  #000000;
    padding: 10px;
    border-radius: 5px;
    background-color: #1e2247;
    font-size: 0.5em;
    text-decoration: none;
}
.river-section a:hover, .river-section2 a:hover{   
    text-align: right;
    border: solid 2px  darkblue;
    padding: 10px;
    border-radius: 5px;
    background-color: #ec7c32;
    font-size: 0.5em;
    color: darkblue;
}
.river-img {
    grid-column: 7/10;
    width: 100%;
    margin-top: 30px;
}

.river-section2 {
    grid-column: 6/10;
    margin-top: 40px;
}

.river-img2 {
    grid-column: 2/5;
    width: 100%;
    margin-top: 30px;
}
/* - - - - - - - - - -  */   

main section{
    text-align: center;
}
main section image {
    box-sizing: border-box;
}
.home-title {
    font-family: 'Prompt', sans-serif;
    color: #fbfbfb;
    font-size: 2em;
    margin-top: 10px;
}
.home-grid {
    /* border: dotted 1px black; */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.book, .join{
    background-color: #1e2247;
    color: #fbfbfb;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 10px;
}
.book:hover, .join:hover {
    background-color: #ec7c32;
    color: #000000;
    border: solid 2px #1e2247;
    border-radius: 10px;
}
.msg {
    background-color: #ec7c32;
    line-height: 1.5em;
    padding:35px;
    grid-column: 6/10;
    grid-row: 6/7;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2{
    font-family: 'Prompt', sans-serif, Verdana;
    color:#1e2247;
}
.msg p{
    font-size: .8em;
    color:#1e2247;
    font-family: 'Montserrat', sans-serif, Arial;
    padding-bottom: 15px;
}
.logo {
    width: 100px; /* changed from 50  to 100 */
    /*padding-top: 25px;  added without instr */ 
    /*padding-left: 50px;  added without instr */ 
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.icon {
    width: 30%;
    padding-top: 10px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
    grid-row: 2/3;
}
.rivers-card {
    grid-column: 2/4;
}
.camping-card {
    grid-column: 5/7;
}
.rapids-card {
    grid-column: 8/10;
}
#background {
    grid-column: 1/11;
    grid-row: 4/9;
    width: 100%;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img {
    border: 10px solid #ec7c32;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
        color: #1e2247;
    }
    #hero-msg h1{
        color: #1e2247;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}