@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Prompt:wght@600&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@700&display=swap');

body{
  background-color: #ffffff; /*  */
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  /*border: dotted 2px red;*/
  size: 1em;
}
header {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  /*border: dotted 2px yellowgreen;*/
  vertical-align: middle;
}

header input[type=text]{
  background-image: url('searchicon.png');
  border: 2px solid #ccc;
  padding: 5px;
  border-radius: 10px;
}
header p {
  font-size: 1em;
}
.networks {
  width: 30px;
}

header section img{
  border-radius: 30px;
  margin-right: 20px;
}
nav {
  width: 100%;
  /*border: dotted 2px blue;*/
  display: block;    
  background-color:#930000 ; /*rgb(8, 8, 8)*/
  padding: 20px;
  text-align: center;    
}
nav a{
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.5em;
  border: solid 2px rgb(211, 100, 26); /* */
  border-radius: 15px;
  margin: 0 5px;
  color:white;
}
#actual{
  background-color: rgb(211, 100, 26);
  border: solid 2px rgb(211, 100, 26);
  color:white;
  font-weight: 900;
}
nav a:hover {
  background-color: #040a1c; /* rgb(211, 100, 26) */
  border: solid 2px rgb(211, 100, 26); /* */
  color: yellow; /* black;*/
}
main  {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}

.text1 {
  font-family: 'Maven+Pro', Arial, sans-serif;
  grid-column: 2/-2;
  border: solid 2px rgb(211, 100, 26);
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffff;
}
.show img {
  Width: 80%;
}
.text2 {
  font-family: 'Maven+Pro', Arial, sans-serif;
  grid-column: 2/5;
  border-radius: 20px;
  text-align: justify;
  padding: 0 10%;
}
main .offer{
  display: flex;
  justify-content: space-around;
  background-color: #ffd7b5;
  padding: 50px 50px;
}
.offer1 {
  border: solid 2px rgb(128, 10, 10);
  margin: 0 40px;
  padding: 20px 0;  
  background-color: #fff;

}
.offer1 P {
  font-weight: 700;
}
.offer1 img {
  width: 80%;
}
.show{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 50px 50px;
}
.show article {
  border: solid 2px rgb(92, 19, 19);
  border-radius: 5%;
  padding: 25px 0;
  grid-row: 2/3;
  margin: 10px;
  
  
}
.title1 {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr 10fr 1fr;
  background-color: rgb(255, 215, 181, 80%);
}
.prods {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr 10fr 1fr;
  background-color: rgb(4, 10, 28, 15%);
}
.prods a{
  border-radius: 5px;
  border: solid 1px black;
  padding: 5px 10px;
  color : yellow;
}
.prods a:hover{
  border-radius: 5px;
  border: solid 1px white;
  padding: 5px 10px;
  background-color: rgb(4, 10, 28, 50%);
}
.prodR, .prodL {
  background-color: rgb(231, 80, 35, 70%);
  border-radius: 15px;
  margin: 10px;
  padding-right: 20px;
}
.prodL {
  grid-column: 2/3;
}
.prodR {
  grid-column: 4/5;
}
.prodL img, .prodR img {
  float: left;
  margin: 15px;
  width: 50%;
}
.prodL p, .prodR p {
  text-align: justify;
}

.prodtitle {
  display:grid;
  grid-template-columns: repeat(13, 1fr);
  margin: 30px;
  background-color: rgb(4, 10, 28, 15%);;
}
.prodtitle img {
  grid-column: 9/13;
  grid-row: 1/3;
  width: 100%;
  padding: 5px;
}
.prodtitle h1   {
  grid-column: 3/7;
  font-size: 1.5em;
}
.prodtitle p {
  grid-column: 2/8;
  font-size: 1.5em;
}

.prodinfo {
  display:grid;
  grid-template-columns: repeat(16, 1fr);
  margin: 30px;
  background-color: rgb(255, 215, 181, 80%);
}
.prodinfo img {
  grid-column: 1/6;
  width: 80%;
  padding: 10px;
}
.infoleft {
  grid-column: 6/10;
}

.inforight {
  grid-column: 11/16;
}
.inforight p, .infoleft p {
  text-align: justify;
}

/*   ----- FOOTER  -----  */
footer{
  background-color: #040a1c; /* black */
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  color:#ffffff;
  font-size: 1.5em;
  text-align: center;
  padding: 15px;
}
footer ul {
  list-style-type: none;
}
footer img{
  width: 100px;
  height: 100px;
  border:rgb(211, 100, 26) 5px solid;
  border-radius: 55px;
  
  /*margin: 30px;*/
}
footer .media {
  background-color: white;
  border:rgb(255, 255, 255);
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

a{
  text-decoration: none;
  color: white;
}
#logo {
  width: 230px;
  padding-left: 20px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}